# MongoDB
DATABASE_DRIVER="mongodb"
DATABASE_URL="mongodb://localhost:27017/film"

# PostgreSQL
DATABASE_DRIVER=postgres
DATABASE_URL=postgres://filmuser:film_nest@localhost:5432/filmdb
DATABASE_USERNAME=filmuser
DATABASE_PASSWORD=film_nest

DEBUG=*