# DATABASE_DRIVER=mongodb

# локально
# DATABASE_URL=mongodb://localhost:27017/film

# docker
# DATABASE_URL=mongodb://mongo:27017/film

DATABASE_DRIVER=postgres
# локально
# DATABASE_URL=postgres://filmuser:film_nest@localhost:5432/filmdb
# docker
DATABASE_URL=postgres://filmuser:film_nest@db:5432/filmdb

POSTGRES_DB=filmdb
POSTGRES_USER=filmuser
POSTGRES_PASSWORD=film_nest

PGADMIN_DEFAULT_EMAIL=you@example.com
PGADMIN_DEFAULT_PASSWORD=some_password

DATABASE_USERNAME=filmuser
DATABASE_PASSWORD=film_nest

DEBUG=*